/*
   This file had to be created.
   It did not come when I created the PCF template.
*/



#results-container p {
    text-align: left;
  }

.resultItem {
    color: red; /* Change the color to your desired value */
  }

  
  
  .grid-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .grid-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }